@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?rbn5qi');
	src:url('fonts/icomoon.eot?#iefixrbn5qi') format('embedded-opentype'),
		url('fonts/icomoon.woff?rbn5qi') format('woff'),
		url('fonts/icomoon.ttf?rbn5qi') format('truetype'),
		url('fonts/icomoon.svg?rbn5qi#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

i {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icomoon-accessories:before,.icomoon-reptile-accessories:before {
	content: "\e600";
}

.icomoon-crickets:before,.icomoon-live-crickets:before,.icomoon-live-insects:before {
	content: "\e601";
}

.icomoon-diet-nutrition:before {
	content: "\e602";
}

.icomoon-feeder-supplies:before {
	content: "\e603";
}

.icomoon-flightless-fruit-flies:before {
	content: "\e604";
}

.icomoon-habitat-products:before,.icomoon-plants-vines-and-bedding::before {
	content: "\e605";
}

.icomoon-hermit-crab-products:before {
	content: "\e606";
}

.icomoon-hissing-cockroaches:before {
	content: "\e607";
}

.icomoon-lighting-heating:before,.icomoon-heating-and-lighting:before {
	content: "\e608";
}

.icomoon-mealworm:before {
	content: "\e609";
}

.icomoon-mealworms:before,.icomoon-giant-mealworms:before {
	content: "\e60a";
}

.icomoon-recurring-orders:before {
	content: "\e60b";
}

.icomoon-reptile-u:before {
	content: "\e60c";
}

.icomoon-store:before {
	content: "\e60d";
}

.icomoon-superworms:before {
	content: "\e60e";
}

.icomoon-vitamins-health:before {
	content: "\e60f";
}

